body {
  font-family: Arial, sans-serif;
  background-color: #5855b1;
  padding: 40px;
}

.cart_inputs {
  width: 700px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.name_input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.cart_input {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.cart_input label {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 6px;
}

.cart_input input,
.cart_input select {
  padding: 9px 11px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 14px;
  background: #f9f9ff;
}
.cart_tablee{
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}
.cart_tabel_head{
 padding: 20px;
 border-bottom: solid 1px #dcdc;
 font-size: 17px;
 font-weight: 600;
 
}
.cart_tablee td{
  font-size: 15px;
  padding: 20px;

}
.cart_tabel_img{
  width: 100px;
  height: 100px;
  
}