*{
    
 font-family: "UnifrakturMaguntia", cursive;  
  font-weight: 200px;
  font-style: normal;
 margin: 0;
    padding: 0;
     
}

   


body{
    background-color: #ffffff;
}

.banner_img{
    width: 100%;
}

.heading1{
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;

}

.section{
    border-radius: 15px;
    padding: 40px 80px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.section_p{
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 90%;
    text-align: center;
    font-size: large;
}

.section_img{
    height: 400px;
    border-radius: 15px;
    box-shadow: 4px 10px 1px gray  ;
    margin-right: 30px;
    
}

.section_div{
    padding-right: 40px;
}

.categories{
    padding: 40px 100px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 50px;
}

.category{
    width: 220px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.category_img{
    width: 220px;
    height: 220px;
    border-radius: 8px;
    margin-bottom: 15px;

    
}

.category h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.category {
    width: 220px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.category_img {
    width: 220px;
    height: 220px;
    border-radius: 8px;
    margin-bottom: 15px;
    align-items: center;
}

.category h3 {
    font-size: 50px;
    font-weight: 500;
    color:#000000;
    margin: 10px 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-bottom: 20px;
}

.topProducts {
    padding: 20px 100px;
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 50px;
}

.topProduct {
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.topProduct_img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    box-shadow: 60px 50px 40px grey;
}
.topProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
.topProduct h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}
.section{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #dcdccd;
}
.menu{
    margin-left: 40px;
    font-size: larger;
    text-align: center;
    display: block;
    list-style-type: circle;
}
.menu_item{
    list-style-type: square;
    display: block;
   margin-right: 30px;
   font-weight: 500px;
}
.heading1{
    color: #000000;
    text-align: center;
}
.categories{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    border-radius: 15px;
    padding: 20px 40; 
}

