
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-form {
  background-color: white;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ddd;
}


.login-form h1 {
  text-align: center;
  margin-bottom: 8px;
  color: #333;
}

.login-form p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}


.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #2575fc;
}

